.page {
  background-color: #89BF97;
  height: 100%;
}

.logo-group {
  padding-top: 50px;
  display: block;
  width: 100%;
}

.logo-group img {
  display: block;
  margin: auto;
}

.logo {
  width: 300px;
  height: 300px;
}

.title {
  margin-top: 50px !important;
}

.subtitle {
  font-family: Quicksand, sans-serif;
  text-align: center;
  font-size: 20px;
  color: #F0F0F0;
}

.bottom {
  position: absolute;
  bottom: 0;
}
