.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;

  .backContainer {
    .backButton {
      width: fit-content;
    }
    .iconBackButton {
      position: relative;
      left: -20px;
      color: var(--gray-800)
    }
  }

  .pageTitle {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: var(--primary-1-600);
    display: block;
    margin-bottom: 16px;
  }

  .pageSubtitle {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    display: block;
    margin-bottom: 40px;
  }

  .username {
    display: block;
    margin-bottom: 24px;
  }

  .password {
    display: block;
    margin-bottom: 40px;
  }

  .loginButton {
    position: absolute;
    bottom: 40px;
    left: 24px;
    right: 24px;
    width: auto;
  }
}
