.default {
  border-radius: 100px;

  &:hover {
    cursor: pointer;
  }
}

.colorPrimary {
  --light-color: var(--primary-2-100);
  --main-color: var(--primary-1-400);
  --dark-color: var(--primary-1-600);
  --constrast-color: white;
  --shadow-color: var(--shadow-1-400);
}

.colorSecondary {
  --light-color: var(--primary-2-100);
  --main-color: var(--secondary-1-400);
  --dark-color: var(--primary-1-600);
  --constrast-color: #11b0f4;
  --shadow-color: var(--shadow-2-400);
}

.colorError {
  --light-color: var(--ion-color-danger-tint);
  --main-color: var(--ion-color-danger);
  --dark-color: var(--ion-color-danger-shade);
  --constrast-color: white;
}

.filled {
  background-color: var(--main-color);
  color: var(--constrast-color);
  box-shadow: 0 4px 0 0 var(--shadow-color);

  &:active {
    background-color: var(--dark-color);
  }

  &.disabled {
    background-color: var(--gray-100);
    color: var(--gray-400);
    box-shadow: 0 4px 0 0 #8c8c8c;
  }
}

.outlined {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);

  &:active {
    background-color: var(--light-color);
  }

  &.disabled {
    border-color: var(--gray-100);
    color: var(--gray-400);
  }
}

.text {
  background-color: transparent;
  color: var(--main-color);

  &:active {
    background-color: var(--light-color);
  }

  &.disabled {
    color: var(--gray-400);
  }
}

.displayFullWidth {
  display: block;
  width: 100%;
}

.buttonLarge {
  padding: 8px 22px;

  span {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.46px;
  }
}

.buttonMedium {
  padding: 6px 16px;

  span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
}

.buttonSmall {
  padding: 4px 10px;

  span {
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.46px;
  }
}

.loading::before {
  content: "";
  position: absolute;
  left: 47vw;
  width: 16px;
  height: 16px;
  border: 4px solid transparent;
  border-top-color: var(--gray-400);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
