.colorPrimary {
  color: var(--primary-1-600);
}
.colorError {
  color: var(--error-400);
}
.colorDefault {
  color: var(--gray-800);
}
.colorGray {
  color: var(--gray-400);
}

.body1 {
  margin: 0;

  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 24px;
}

.body2 {
  margin: 0;

  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 21px;
}

.pageTitle {
  margin:0;

  font-weight: var(--font-weight-bold);
  font-size: 32px;
  line-height: 48px;
}
