@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: Quicksand, sans-serif;
}
