.page {
  height: 100vh;

  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 5vh;
  --padding-bottom: 35px;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;

    .roundHeader {
      p {
        margin: 0;
        font-weight: 600;
      }

      .headerNotification {

      }
    }
  }
}
